body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

#header {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 20px 0;


 img {
    width: 250px;
    height: 200px;
}
}
#nav {
    background-color: #272727;
    padding: 10px 0;
    text-align: center;


 ul {
    list-style-type: none;
    padding: 0;
}

 li {
    display: inline;
    margin-right: 20px;
}

 a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
}

/* Sections */
.section {
    padding: 20px;


 h2 {
    font-size: 24px;
    color: #333;
}

 p {
    font-size: 16px;
    color: #666;
}
}

/* Menu Section */
.section.menu {
    background-color: #f9f9f9;


.menu-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


.item {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

 h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #333;
}

 p {
    font-size: 16px;
    color: #666;
}

 .price {
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
    color: #008CBA;
}

 img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
}
}

/* Our Team Section */
.team-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


    img {
    flex: 1;
    max-width: 30%;
    height: auto;
    margin: 10px;
}
}

/* Home Section - Images in one row */
#home .home-images {
    display: flex;
    justify-content: space-evenly;
    min-height: 410px;
    .i-image {
        width: 400px;
        height: 365px;
        margin: 2rem;
    }

 img {
    width: 100%; /* Set a fixed width for all images */
    height: 365px;
}
}

/* Contact Form */
.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;


form {
    max-width: 400px;
    width: 100%;
}

label {
    font-size: 16px;
    font-weight: bold;
    display: block;
}

input,
textarea {
    font-size: 16px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    font-size: 16px;
    background-color: #008CBA;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}
}

/* Footer */
#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;


p {
    font-size: 14px;
}
}

/* Responsive Styles */
@media (max-width: 768px) {
    #nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #nav li {
        margin: 10px;
    }
}